{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Datos</h1>


<form method="post" enctype="multipart/form-data" class="border rounded p-3">
    {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}
    
        
        {% csrf_token %}
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
            <div class="col-10 p-3">
                <label  class="form-label" >Nombre de Usuario</label>
                <input type="text" class="form-control" placeholder="{{usuarioactual}}" name="username" id="username"  disabled required>
            </div>
            <div class="col-10 p-3">
                <input type="text" class="form-control" placeholder="Nombre Completo" name="nombrecompleto" id="nombrecompleto" required >
            </div>
            <div class="col-10 p-3">
                <input type="text" class="form-control" placeholder="Direccion" name="direccion" id="direccion" required >
            </div>
            <div class="col-10 p-3">
                <input type="text" class="form-control" placeholder="Telefono de contacto" name="telefono" id="telefono" required >
            </div>
            <div class="col-10 p-3">
                <input type="email" class="form-control" placeholder="Correo de contacto" name="correo" id="correo"  required>
            </div>
        </div>
        <div class="col-6">
            <div class="col-10 p-3">
                <div class="text-center">
                    <img src="{% static 'tasks/images/defaultprofile.jpg' %}"  
                        alt="Avatar del usuario" class="rounded-circle img-thumbnail" alt="Circular con borde" style="width: 200px; height: 200px;">
                    
                    <input class="form-control" type="file" name="avatar" accept="image/png" required>
                    <div class="alert alert-light m-3" role="alert">
                        Podras ver tu imagen en tu perfil
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <button class="btn btn-primary ">Registrarse</button>
</form>
  

{% endblock %}