{% extends 'base.html' %}
{% block content %}
    <h1>Editar articulos</h1>

    <form method="post" enctype="multipart/form-data" class="border rounded p-3">
    {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}
    
        
        {% csrf_token %}
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
            <div class="col-10 p-3">
                <input type="text" class="form-control" value="{{ titulo }}" name="titulo" id="titulo"  required>
            </div>
            <div class="col-10 p-3">
                <input type="text" class="form-control" value="{{ lugar }}" name="lugar" id="lugar" required >
            </div>
            <div class="col-10 p-3">
                <input type="date" class="form-control" value="{{ fecha }}" name="fecha" id="fecha" required >
            </div>
            <div class="col-10 p-3">
                <input class="form-control" type="text" value="{{ descripcion }}" name="descripcion" id="descripcion" required ></input>
            </div>
            <div class="col-10 p-3">
                <select name="categoria" class="form-control">
                    <option value="{{ lacategoria }}" >Seleccione una opcion</option>
                    {% for id_categoria, nombre in opciones %}
                        <option value="{{ id_categoria }}">{{ nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="col-10 p-3">
                <div class="text-center">
                    <label for="" class="class-label">Selecciona imagen principal</label>
                    <input type="file" name="imgprincipal" accept="image/*" >
                </div>
                <div class="text-center">
                    <label for="" class="class-label">Otras imagenes</label>
                    <input type="file" name="imgsarticulo" accept="image/*" multiple >
                </div>
                <div class="alert alert-light m-3" role="alert">
                        Al actualizar un articulo, el mismo tendra que pasar de nuevo por el proceso de aprobacion por un Administrador
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <button class="btn btn-primary ">Actualizar Articulo</button>
</form>




{% endblock %}