{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Crear Nuevo Artículo</h1>
    
    <form method="post" enctype="multipart/form-data" class="border rounded p-4 bg-light">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        
        {% csrf_token %}
        
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Título del Artículo"  name="titulo" id="titulo" required>
                </div>
                
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Lugar del acontecimiento" name="lugar" id="lugar" required>
                </div>
                
                <div class="mb-3">
                    <input type="date" class="form-control" placeholder="Fecha del acontecimiento" name="fecha" id="fecha" required>
                </div>
                
                <div class="mb-3">
                    <textarea class="form-control" name="descripcion" placeholder="Descripción" id="descripcion" required rows="3"></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría</label>
                    <select name="categoria" class="form-select" required>
                        <option value="">Seleccione una opción</option>
                        {% for id_categoria, nombre in opciones %}
                            <option value="{{ id_categoria }}">{{ nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="mb-4 p-3 border rounded bg-white">
                    <div class="mb-3">
                        <label class="form-label d-block text-center">Imagen principal</label>
                        <input type="file" class="form-control" name="imgprincipal" accept="image/*" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label d-block text-center">Otras imágenes</label>
                        <input type="file" class="form-control" name="imgsarticulo" accept="image/*" multiple required>
                    </div>
                </div>
                
                <div class="alert alert-info mt-3">
                    Un administrador tendrá que aprobar tu artículo
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Crear Artículo</button>
        </div>
    </form>
</div>

{% endblock %}