{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Perfil</h1>
{% if user.is_authenticated %}
             <div class="container row">
                <div class="alert alert-dark" role="alert">
                    Hola, {{usuarioactual}}!
                  </div>
             </div> 
             <div class="row justify-content-center">
                <div class="col-4">
                    <div class="text-center">
                        <img src="{{ MEDIA_URL }}{{foto}}?v={% now 'U' %}"  
                        alt="Avatar del usuario" class="rounded-circle img-thumbnail" alt="Circular con borde" style="width: 200px; height: 200px;">
                    </div>
                </div>
                <div class="col-4">
                    <label class="fs-3 text-capitalize" name="nombrecompleto"><b>{{nombrecompleto}}</b></label><br>
                    <label name="nombredeusuario"><b>{{usuarioactual}}</b></label><br>
                    <label name="direccion">{{direccion}}</label><br>
                    <label name="telefono">{{telefono}}</label><br>
                    <label name="correo">{{correo}}</label><br>
                </div>
                <div class="col-1  align-self-end">
                    <a href="/editardatos"><button type="button" class="btn btn-secondary">Editar</button></a>
                </div>
              </div>  

    <div class="container text-center m-5">
    <div class="row align-items-center">
        <div class="col">
            <a href="/paginafavoritos"><button type="button" class="btn btn-primary p-3">Articulos Favoritos</button></a>
        </div>
        <div class="col">
            <a href="/publicados"><button type="button" class="btn btn-primary p-3">Articulos Publicados</button></a>
        </div>
        <div class="col">
            <a href="/nuevoarticulo"><button type="button" class="btn btn-primary p-3">Nuevo Articulo</button></a>
        </div>
    </div>
    </div>

{% else %}
<div class="container m-50">
    <div class="alert alert-dark" role="alert">
        Favor de iniciar sesion.
      </div>
</div>   
{% endif %}





{% endblock %}