{% extends 'base.html' %}
{% block content %}

<h1>Inicio de sesión para administradores</h1>

<form method="post">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %}
    
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de Usuario</label>
      <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Acceder como administrador</button>
</form>

{% endblock %}